<h1> New multiplication </h1>

<form action="/wizard_multiply">

  <label for="multiply1">Multiply this:</label>
  <input id="multiply1" name="multiply1">

  <label for="multiply2">by this:</label>
  <input id="multiply2" name="multiply2">


  <button>
  Multiply!
  </button>

</form>