<h1> New Subtraction </h1>

<form action="/wizard_subtract">

  <label for="subtract1"> Subtract this: </label>
  <input id="subtract1" name="subtract1">

  <label for="subtract2"> From this: </label>
  <input id="subtract2" name="subtract2">


  <button>
  Subtract!
  </button>

</form>